---
import Layout from "../layouts/Layout.astro";
import BoardMemberCardDetailed from "../components/BoardMemberCardDetailed.astro";
import { getCollection } from "astro:content";
import { directus } from "@/lib/directus";
import { readItems } from "@directus/sdk";

// const boardMembers = await getCollection("board");

const members = await directus.request(
  readItems("board", {
    fields: ["*"],
    sort: ["sort", "name"],
  })
);
---

<Layout title="Board - CPP Japanese Language Learners">
  <div class="flex flex-col px-4 mx-6 md:max-w-4xl md:mx-auto">
    <div class="breadcrumbs my-4">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Board</li>
      </ul>
    </div>
    <!-- Current Board -->
    <h1 class="text-5xl font-bold mb-4 font-display">Board</h1>
    <div class="grid md:grid-cols-2 gap-4">
      {
        members
          .filter((member) => member.status === "active")
          .map((member) => <BoardMemberCardDetailed member={member} />)
      }
    </div>
    <!-- Past Board -->
    <h1 class="text-5xl font-bold mb-4 my-4 font-display">Past Board</h1>
    <div class="grid md:grid-cols-2 gap-4">
      {
        members
          .filter((member) => member.status === "inactive")
          .map((member) => <BoardMemberCardDetailed member={member} />)
      }
    </div>
  </div>
</Layout>
