---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Events - CPP Japanese Language Learners">
    <div class="flex flex-col">
        <!-- Events -->
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Upcoming Event</h1>
                
        </div>
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Previous Events</h1>
                
        </div>
    </div>
</Layout>