---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import placeholder from '../images/placeholder.png';
---
<Layout title="Events - CPP Japanese Language Learners">
    <div class="flex flex-col">
        <!-- Events -->
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Upcoming Events</h1>
                <!-- PLACEHOLDER for featured event. This will be dynamic later -->
                <div class="flex flex-col">
                    <Image src={placeholder} alt="placeholder" class="w-full mx-auto rounded-lg mb-2" />
                    <h2 class="text-3xl font-bold text-accent mb-1 font-display">Ghost Stories</h2>
                    <p class="text-xl text-accent mb-4">Join us on a night of spooky stories, ft. plates, ghosts, and some other spooky stuff!</p>
                </div>
                <!-- PLACEHOLDER end -->
        </div>
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Previous Events</h1>
                <!-- PLACEHOLDER for featured event. This will be dynamic later -->
                <div class="flex flex-col">
                    <Image src={placeholder} alt="placeholder" class="w-full mx-auto rounded-lg mb-2" />
                    <h2 class="text-3xl font-bold text-accent mb-1 font-display">Ghost Stories</h2>
                    <p class="text-xl text-accent mb-4">Join us on a night of spooky stories, ft. plates, ghosts, and some other spooky stuff!</p>
                </div>
                <!-- PLACEHOLDER end -->
                <!-- PLACEHOLDER for featured event. This will be dynamic later -->
                <div class="flex flex-col">
                    <Image src={placeholder} alt="placeholder" class="w-full mx-auto rounded-lg mb-2" />
                    <h2 class="text-3xl font-bold text-accent mb-1 font-display">Ghost Stories</h2>
                    <p class="text-xl text-accent mb-4">Join us on a night of spooky stories, ft. plates, ghosts, and some other spooky stuff!</p>
                </div>
                <!-- PLACEHOLDER end -->
        </div>
    </div>
</Layout>