---
import EventCard from "../components/EventCard";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const upcomingEvents = await getCollection("events", ({ data }) => {
    const eventDate = new Date(data.date);
    const today = new Date();
    return eventDate >= today;
});
const previousEvents = await getCollection("events", ({ data }) => {
    const eventDate = new Date(data.date);
    const today = new Date();
    return eventDate < today;
});
---
<Layout title="Events - CPP Japanese Language Learners">
    <div class="flex flex-col">
        <!-- Events -->
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Upcoming Event</h1>
            {
                upcomingEvents.map((event) => (
                    <EventCard event={event} />
                ))
            }
        </div>
        <div class="flex flex-col my-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Previous Events</h1>
            {
                previousEvents.map((event) => (
                    <EventCard event={event} />
                ))
            }
        </div>
    </div>
</Layout>