---
import { slide } from "astro:transitions";
import EventCard from "../components/EventCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const upcomingEvents = await getCollection("events", ({ data }) => {
    const eventDate = new Date(data.date);
    const today = new Date();
    return eventDate >= today;
});
const previousEvents = await getCollection("events", ({ data }) => {
    const eventDate = new Date(data.date);
    const today = new Date();
    return eventDate < today;
});
---
<Layout title="Events - CPP Japanese Language Learners">
    <div class="flex flex-col">
        <!-- Events -->
        <div class="flex flex-col my-6 mx-6">
            <div class="breadcrumbs text-accent mb-4 md:max-w-3xl md:mx-auto md:pr-[820px]">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </div>
            <h1 transition:animate={slide ({ duration: '0.3s' })} class="text-5xl font-bold text-accent mb-4 font-display md:max-w-3xl md:whitespace-nowrap md:mx-auto md:pr-[424px]">Upcoming Event</h1>
            <div transition:animate={slide ({ duration: '0.4s' })}>
                {
                    upcomingEvents.map((event) => (
                        <EventCard event={event} />
                        ))
                    }
            </div>
        </div>
        <div class="flex flex-col my-6 mx-6">
            <h1 transition:animate={slide ({ duration: '0.5s' })} class="text-5xl font-bold text-accent mb-4 font-display md:max-w-3xl md:whitespace-nowrap md:mx-auto md:pr-[434px]">Previous Events</h1>
            <div transition:animate={slide ({ duration: '0.6s' })}>
                {
                    previousEvents.map((event) => (
                        <EventCard event={event} />
                    ))
                }
            </div>
        </div>
    </div>
</Layout>