---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import logo from '../images/bun.png';
import squiggly from '../images/squiggly.svg';
import BoardMemberCard from "../components/BoardMemberCard";
import EventCard from "../components/EventCard.astro";
import { getCollection } from "astro:content";
import { slide } from "astro:transitions";

const upcomingEvents = await getCollection("events", ({ data }) => {
    const eventDate = new Date(data.date);
    const today = new Date();
    return eventDate >= today;
});
---

<Layout title="CPP Japanese Language Learners">
    <!-- Top section -->
    <div class="h-[70vh] w-screen mb-7 bg-secondary flex justify-center items-center">  
        <div transition:animate={slide ({ duration: '0.3s' })} class="text-center">
            <Image src={logo} alt="logo" class="w-36 mx-auto mb-2" />
            <h1 class="text-4xl font-bold text-accent mb-4 mx-4">CPP Japanese Language Learners</h1>
        </div>
    </div>
    <!-- End top section -->
    <!-- Content -->
    <div transition:animate={slide ({ duration: '0.5s' })} class="flex flex-col">
        <!-- About -->
        <div class="flex flex-col mb-10 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">About</h1>
            <div class="flex flex-col">
                <p class="text-xl text-accent mb-4">The Cal Poly Pomona Japanese Language Learning Club (CPP JLL) is a community dedicated to exploring Japanese language and culture in a variety of ways, whether it be through assisting beginners, housing reading and viewing groups, hosting workshops, or meeting and socializing with fellow learners.</p>
                <p class="text-xl text-accent mb-4">We are open to all skill-levels. Please feel free to join our community on our Japanese-learning journey! Check out our <span class="text-indigo-500 hover:underline"><a href="https://discord.com/invite/W5kxJtE3a7">Discord</a></span> server to learn more!</p>
            </div>
        </div>
        <!-- End About -->
        
        <!-- Squiggly -->
        <div class="flex flex-col mb-6">
            <img src={squiggly.src} alt="squiggly" class="w-full mb-2" />
        </div>
        <!-- End Squiggly -->
        <!-- Events -->
        <div class="flex flex-col mb-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Current Event</h1>
                <EventCard event={upcomingEvents[0]} />
            <a href='/events' class="btn btn-accent btn-outline w-full mb-4">See All Events</a>
        </div>
        <!-- End Events -->
        
        <!-- Board -->
        <div class="flex flex-col mb-6 mx-6">
            <h1 class="text-5xl font-bold text-accent mb-4 font-display">Board</h1>
            <div class="flex flex-col">
                <BoardMemberCard name="Leonard Woo" position="President" image='https://cdn.discordapp.com/avatars/354814344414101504/37e0fb23fe25d83dfdef19263d9ad3ee?size=256' />
                <BoardMemberCard name="Alan Le" position="Vice President" image='https://cdn.discordapp.com/avatars/202902066891325440/0744875313f0115e246a78bbd5218f6f.webp?size=1024&width=0&height=256' />
                <BoardMemberCard name="Brandon Tseng" position="Scheduler" image='https://cdn.discordapp.com/avatars/275462572197675008/173abb96b0535613f74b77cafdc12ead.webp?size=1024&width=0&height=256' />
                <BoardMemberCard name="Marissa" position="Treasurer" image='https://media.discordapp.net/attachments/730502676323762227/1169066725837373522/image.png?ex=65540d3b&is=6541983b&hm=08a4a9d2d2d0c91db60df351c503f6c3f282db65fd258def3f98e1fc161dbbc3&=' />
                <BoardMemberCard name="Taehyuan Yoon" position="Events Manager" image='https://cdn.discordapp.com/avatars/442105074798297098/e74ab2037126c78bda0c278cca151318.webp?size=1024&width=0&height=256' />
            </div>
        </div>
    </div>
    
</Layout>