---
import logo from "../images/bun.png";
import { Image } from "astro:assets";
import { Button } from "./ui/button";
import { Mail } from "lucide-react";
import { GitHubLogoIcon } from "@radix-ui/react-icons";
---

<footer class="footer footer-center p-8 border-t">
  <aside>
    <Image src={logo} alt="logo" class="h-10 w-auto mt-4 mb-2" />
    <p>Cal Poly Pomona Japanese Language Learners</p>
    <p>
      Website made by <a
        class="font-bold"
        href="https://github.com/mikumino"
        target="_blank">Alan Le</a
      > and <a
        class="font-bold"
        href="https://github.com/PlainOlSoapBar"
        target="_blank">Brandon Tseng</a
      >
    </p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4 -my-8 pb-8">
      <a title="mail" href="mailto:calpolyJLL@gmail.com" target="_blank">
        <button
          class="btn text-2xl hover:bg-secondary-focus dark:hover:bg-secondary"
        >
          <Mail className="h-6 w-6" />
          <span class="sr-only">Email</span>
        </button>
      </a>
      <a
        title="github"
        href="https://github.com/cppjll/cppjll-site"
        target="_blank"
      >
        <button
          class="btn text-xl hover:bg-secondary-focus dark:hover:bg-secondary"
        >
          <GitHubLogoIcon className="h-6 w-6" />
          <span class="sr-only">Github</span>
        </button>
      </a>
    </div>
  </nav>
</footer>
