---
import logo from '../images/bun.png'
import { Image } from 'astro:assets';
---

<footer class="footer footer-center p-5 bg-secondary text-accent">
    <aside>
        <Image src={logo} alt="logo" class="h-10 w-auto mt-4 mb-2" />
        <p>Cal Poly Pomona Japanese Language Learners</p>
        <p>Website made by <a class="font-bold" href="https://github.com/mikumino">Alan Le</a> and <a class="font-bold" href="https://github.com/PlainOlSoapBar">Brandon Tseng</a></p>
    </aside> 
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a href="https://discord.com/invite/W5kxJtE3a7" class="text-2xl"><iconify-icon icon="ic:baseline-discord"></iconify-icon></a>
            <a href="https://www.instagram.com/cppjll/" class="text-2xl"><iconify-icon icon="mdi:instagram"></iconify-icon></a>
        </div>
    </nav>
</footer>