---
import logo from "../images/bun.png";
import { Image } from "astro:assets";
import { ModeToggle } from "./ModeToggle";
import NavHamburger from "./NavHamburger";
import { buttonVariants } from "./ui/button";
---

<div class="w-full mx-auto p-2 border-b rounded-lg z-20">
  <div class="md:max-w-4xl mx-auto">
    <div class="md:hidden absolute left-4 top-2">
      <ModeToggle client:load />
    </div>
    <NavHamburger client:load />
    <div class="flex flex-row items-center justify-center md:justify-between">
      <div class="flex flex-row items-center">
        <a
          href="/"
          class={`${buttonVariants({ variant: "ghost" })} text-xl text-primary `}
          ><Image src={logo} alt="Japanese Language Learners logo represented by the Kanji ぶん" class="w-7 mr-3" />CPP JLL</a
        >
      </div>
      <div class="hidden md:flex flex-row items-center gap-4">
        <a class={`${buttonVariants({ variant: "ghost" })}`} href="/events"
          >Events</a
        >
        <a class={`${buttonVariants({ variant: "ghost" })}`} href="/board"
          >Board</a
        >
        <ModeToggle client:load />
      </div>
    </div>
  </div>
</div>
