---
import "../global.css"
import Navbar from "../components/Navbar";
import icon from "../../public/favicon.ico";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href={icon} type="image/x-icon" />
        <title>{title}</title>
    </head>
    <body>
        <div>
            <Navbar />
        </div>
        <slot />
    </body>
</html>