---
import "../global.css"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import icon from "/favicon.ico";
import bun from "../images/bun.png";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Cal Poly Pomona's Japanese Learning Club" />
        <link rel="icon" href={icon} type="image/x-icon" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
        <meta property="og:title" content={title} />
        <meta property="og:description" content="Cal Poly Pomona's Japanese Learning Club. Learn Japanese with fellow Broncos." />
        <meta property="og:image" content={bun.src} />
        <meta name="theme-color" content="#204063" />
        <ViewTransitions />
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </head>
    <body>
        <div>
            <Navbar />
        </div>
        <slot />
        <Footer />
    </body>
</html>